# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

pom.xml.old

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
mem.*
*.class
# Textpad work space file: #
*.tws
bin/
docker/
target/
temp/
target/**
.project
.classpath
.settings
.gitignore
